{% extends 'base.html' %}
{% load custom_template_filters %}

{% block content %}

{% for sg in sunglass_objects %}
<p>{{sg}} <a href="{% url 'add-to-cart' %}?app_label={{sg|app_label}}&model_name={{sg|class_name}}&obj_id={{sg.pk}}" >Buy</a> 
</p> 
{% endfor %}

{% for eg in eyeglasses %}
<p>{{eg}}<a href="{% url 'add-to-cart' %}?app_label={{eg|app_label}}&model_name={{eg|class_name}}&obj_id={{eg.pk}}" >Buy</a> </p>  
{% endfor %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
function cart_toggle(app_label){
    $('#myModal').modal({
        show:true
    })
}
</script>

{% endblock %}