{% extends 'base.html' %}
{% load custom_template_filters %}

{% block content %}

{% for sg in sunglass_objects %}
<p>{{sg}} <a href="{% url 'add-to-cart' sg|app_label sg|class_name  sg.pk %}" >Buy</a> 
</p> 
{% endfor %}

{% for eg in eyeglasses %}
<p>{{eg}}<a href="{% url 'add-to-cart' eg|app_label eg|class_name  eg.pk %}" >Buy</a> </p>  
{% endfor %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
function cart_toggle(app_label){
    $('#myModal').modal({
        show:true
    })
}
</script>

{% endblock %}